html, body {
	height: 100%;
}

body{
	background-color: #fff;
	color: #444;
	text-align: center;
	font-family:georgia;
	font-size: 16px;
	line-height: 20px;
}

h1,h2,h3,h4{
	margin-bottom: 5px;
	color: #3E8414;
}
h1{
	font-size: 20px;
}
h2{
	font-size: 18px;
}
h3{
	font-size: 16px;
}
h4{
	font-size: 14px;
}

a{
	text-decoration: none;
	color: #9933FF;
}
a:hover{
	text-decoration: underline;
}

#container{
	background-color: #EBF3E0;
	text-align: left;
	width: 900px;
	height:100%;
	min-height:100%;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
	margin: 0 auto; 
	
	border-top: #3E8414 4px solid;
	border-bottom: #3E8414 4px solid;
	border-left: #3E8414 10px solid;
	border-right: #3E8414 10px solid;
}
html>body #container{height:auto; min-height: 100%;}/* not ie6- */

#content,
#header{
	padding-right: 20px;
	padding-left: 20px;
}

#header{}

#header img{ margin-bottom: 10px;}


#header .content{
	margin-bottom: 20px;
}

#nav{
	margin:0;
	width: 890px; /* #container width - (left padding + right padding) */
	/*background-color: #3E8414;*/
	background: url('images/menubar.gif');
	padding-left: 10px;
	height: 51px;
}
#nav ul{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}
#nav ul li{
	display: inline;
	margin: 0;
	padding: 0;
}
#nav ul li a{
	color: #56B91D;
	display: block;
	padding: 15px 10px;
	font-size: 20px;
	font-family: san-serif;
	/*
	border-left: solid #7A7A7A 1px;
	border-right: solid #7A7A7A 1px;
	background-color: #6E4C11;
	*/
}

#nav ul li a:hover{
	text-decoration: none;
	color: #fff;
}

#nav .menuitem_left,
#nav .menuitem_middle,
#nav .menuitem_right{
	margin: 0;
	float: left;
	height: 49px;
}

#nav .menuitem_left{
	padding: 0 3px 0 0;
}
#nav .menuitem_middle{
	margin: 0;
	vertical-align: text-bottom;
}
#nav .menuitem_right{
	margin: 0;
	padding: 0 7px 0 0;
}

#content{
	margin-top: 20px;
}

#content .content{
	margin-bottom: 20px;
}
#guild_logo{
	float: right;
}
#logo{}
#pressed_flower_art{}
#pressed_flower_art ul{
	list-style-image:url("images/flower.png");
}
#pressed_flower_art ul li{
	margin-left: 50px;
}

.gallery_title{
	margin-bottom: 0;
}

.image_gallery{
	text-align: center;	
}
.image_gallery ul { 
	padding: 0;
	margin: 0;
	list-style-type: none; 
}
.image_gallery ul li { 
	display:inline;
}
	
.image_gallery ul li img{ 
	height: 96px;
}

.gallery_page{
	text-align: left;
}

#heating_and_cooling_wraps{}
#heating_and_cooling_wraps ul{
	list-style-image:url("images/flower.png");
}
#heating_and_cooling_wraps ul li{
	margin-left: 50px;
}


#contact{}
#contact ul{
}
#contact ul li{
	margin-left: 50px;
}

#contact table{
	width: 600px;
}

#contact table tr td{
	text-align: left;
	padding-bottom: 5px;
}
#contact table td.title{
	font-weight: bold;
}

#shows{}
#shows table{
	width: 100%;
	border: solid black 1px;
}
#shows table tbody tr{
	border: solid black 1px;
}
#shows table tbody tr th{
	border: solid black 1px;
	padding: 0 10px 0 10px;
	color: #56B91D;
	color: #9933FF;
}
#shows table tbody tr td{
	border: solid black 1px;
	padding: 0 10px 0 10px;
}

/* class used for page descriptions */
.descrip{
	font-style: italic;
	font-size: 12px;
	margin-bottom: 10px;
}

.bold{
	font-weight: bold;
}

.clear{
	clear: both;
}