body{
font-family: 'Droid Sans', sans-serif;
font-size:13px;
background:#fafafa url('images/grey.png') repeat;
line-height:25px;
color:#444;
border-top:5px solid #14a900;
}

h1,h2,h3,h4,h5,h6{
color:#666;
font-weight:normal;
font-family: 'Oswald', sans-serif;
padding:5px 0px;
margin:5px 0px;
}

h1{
font-size:35px;
line-height:40px;
}

h2{
font-size:25px;
line-height:30px;
}

h3{
font-size:18px;
line-height:23px;
}

h4{
font-size:16px;
line-height:21px;
}

h5{
font-size:15px;
line-height:20px;
}

h6{
font-size:14px;
line-height:19px;
}

a, a:visited{
color:#118d00;
text-decoration:none;
}

a:hover{
color:#0c6a00;
}

form{
margin:10px 0px;
}

img.alignleft{
float:left;
padding-right:10px;
}

img.alignright{
float:right;
padding-left:10px;
}

img.aligncenter{
margin:0px auto;
text-align:center;
padding:none;
display:block;
}

.color{
color:#118d00;
}

.caps{
text-transform:uppercase;
}

.border{
height:20px;
}

.bold{
font-weight:700;
}

.normal{
font-weight:normal;
}

a, a:visited, a:foucs, a:hover{
outline: 0;
}

:focus {outline:none;}

::-moz-focus-inner {border:0;}

/* Navbar */

.navbar-inner{
border-radius:0px;
background: #14a900 !important; 
background-image: none;
background-repeat: no-repeat;
filter: none !important;
border:none !important;
}

.navbar-inner > .container{
width:940px;
}

.navbar .btn{
background:#118d00 !important;  
}

.navbar .btn:hover{
background:#0c6a00 !important;
}

.navbar .caret{
border-top-color:#fff !important;
border-bottom-color:#fff !important;
}

.navbar .nav > li > a{
padding: 14px 15px 13px; 
color:#fff !important;
text-shadow:none !important;
font-size:14px;
}

.navbar .nav > li > a:hover{
background:#118d00 !important;
color:#fff !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
color: #ffffff;
background: #14a900 !important;
}

.dropdown-toggle{
background: #14a900 !important;
}

.nav-collapse a{
font-weight:normal !important;
text-shadow:none !important;
}

.dropdown-menu{
background:#14a900 !important;
}

.dropdown-menu a{
color:#fff !important;
text-shadow:none !important;
}

.dropdown-menu a:hover{
filter:none !important;
background:#118d00 !important;
}


/* Header */

header{
background:#f4f4f4 url('images/head.png') repeat;
padding-bottom:0px;
}

.logo{
margin-top:5px;
margin-left:auto;
margin-right:auto;
width:270px;
height:69px;
}

.wwpfg img,
.logo img{
max-width:270px;
max-height:69px;
}

.logo img{
width: 270px;
height: 63px;
}

.wwpfg img{
margin-top: 2px;
}

/* Pagination */

.pagination {
clear:both;
padding:6px 0;
line-height:17px;
font-size:13px;
}
 
.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:5px 8px 5px 8px;
text-decoration:none;
width:auto;
color:#666;
background: #fff;
border:1px solid #ddd;
}
 
.pagination a:hover{
color:#444;
background: #f3f3f3;
}
 
.pagination .current{
padding:5px 8px 5px 8px;
color:#444;
background: #f3f3f3;
}

/* Footer */

footer{
color:#ddd;
background:#151515 url('images/bot.png') repeat;
margin-top:20px;
border-top:5px solid #14a900;
font-size:13px;
padding-top:10px;
}

footer a, footer a:visited, footer a:hover{
color:#bbb;
}

.copy{
font-family:Tahoma,Verdana,sans-serif;
font-size:11px;
}

footer h4{
color:#fff;
}

footer .widget{
padding:0px;
margin:0px;
background:transparent;
border:none;
}

footer hr{
border-top:1px solid #111;
border-bottom:1px solid #333;
margin:4px 0px;
height:0px;
}

ul.image_gallery{
list-style-type: none;
margin: 0;
padding: 0;
}
ul.image_gallery li{
display: inline;
}
ul.image_gallery li a{}
ul.image_gallery li a img{}

/* Responsive */

@media (max-width: 480px){
   .wwpfg{
      display: none;
   }
}

@media (max-width: 767px){
   .wwpfg{
      display: none;
   }
	header{
	text-align:center;
	margin-bottom:0px;
	}
   header .wwpfg{
   margin-top:5px;
   margin-bottom:20px;
   }
   .logo{
   padding:5px 0px 0px 0px;
   }
   header,.bread,footer,.navbar-inner{
   margin-left:-20px;
   margin-right:-20px;
   padding-left:20px;
   padding-right:20px;
   }
   img.alignleft{
   float:none;
   margin:0px auto;
   text-align:center;
   padding:5px;
   display:block;
   }
   img.alignright{
   float:none;
   margin:0px auto;
   text-align:center;
   padding:5px;
   display:block;
   }
   img.aligncenter{
   margin:0px auto;
   text-align:center;
   padding:5px;
   display:block;
   }
}

@media (min-width: 768px) and (max-width: 979px){

}

@media (max-width: 979px){

}