{% extends "_master.html" %}

{% block title %}B's Garden Treasures - 404{% endblock %}

{% block content %}
	
	<h1>Oops!</h1>
	<div class="">The page or file you requested is not found.</div>
	
{% endblock %}