<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
	
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'></link>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'></link>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {% include '_meta.html' %}
	<link rel="StyleSheet" href="{{ STATIC_URL }}bootstrap.css"></link>
	<link rel="StyleSheet" href="{{ STATIC_URL }}font-awesome.css"></link>
	<!--[if IE 7]><link href="{{ STATIC_URL }}font-awesome-ie7.css" rel="stylesheet"><![endif]-->
	<link rel="StyleSheet" href="{{ STATIC_URL }}style.css"></link>
	<link rel="StyleSheet" href="{{ STATIC_URL }}responsive.css"></link>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.1.css" media="screen" />
	
	{% block script %}
	    
	<script type="text/javascript">
		$(document).ready(function(){
			$(".gal").fancybox({
				'titleShow': false,
				'autoScale': false,
				'transitionIn': 'none',
				'transitionOut': 'elastic'
			});
		});
	</script>
	
	{% endblock %}
		
	<!-- Favicon -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}faveicon.ico">
</head>
<body>
	<div class="outter">
		<header>
			<div class="container">
				<div class="row">
					<div class="span4">
						<div class="logo">
							<a href="/">
								<img src="{{ STATIC_URL }}images/logo_100.png" alt="BG Treasures Logo" />
							</a>
						</div>
					</div>
				</div>
				
			</div>
		</header>
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<div class="nav-collapse">
						<ul class="nav">
							<ul id="menu-menu" class="nav">
								{% include "_nav.html" %}
							</ul>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="blog content">
			<div class="container">
				{% block content %}{% endblock %}
			</div>
		</div>
		<footer></footer>
	</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/bootstrap-affix.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/bootstrap-alert.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/bootstrap-button.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/bootstrap-carousel.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/bootstrap-collapse.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/bootstrap-dropdown.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/bootstrap-modal.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/bootstrap-popover.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/bootstrap-scrollspy.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/bootstrap-tab.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/bootstrap-tooltip.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/bootstrap-transition.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/bootstrap-typeahead.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.1.pack.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.easing-1.3.pack.js"></script>
</body>
</html>