<li class="menu-item">
	<a href="/">Home</a>
</li>
<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
		Gallery <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li class="menu-item">
			<a href="/gallery/floral-designs">Floral Designs</a>	
		</li>
		<li class="menu-item">
			<a href="/gallery/landscapes">Landscapes</a>	
		</li>
		<li class="menu-item">
			<a href="/gallery/fantasy">Fantasy</a>	
		</li>
		<li class="menu-item">
			<a href="/gallery/bridal-and-memorial">Bridal &amp; Memorial</a>	
		</li>
		<li class="menu-item">
			<a href="/gallery/jewelry">Jewelry</a>	
		</li>
		<li class="menu-item">
			<a href="/gallery/other">Other</a>	
		</li>
		<li class="divider"></li>
		<li class="menu-item">
			<a href="/gallery/trivets">Trivets</a>	
		</li>
		<li class="menu-item">
			<a href="/gallery/coasters">Coasters</a>	
		</li>
		<li class="menu-item">
			<a href="/gallery/digital-copies">Digital Copies</a>	
		</li>
	</ul>
</li>
<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
		Supplies <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li class="menu-item">
			<a href="/supplies/pressed-flowers">Pressed Flowers</a>	
		</li>
		<li class="menu-item">
			<a href="/supplies/pressed-flower-supplies">Tools</a>	
		</li>
	</ul>
</li>
<li class="menu-item">
	<a href="http://blog.bgtreasures.com">Blog</a>
</li>
<li class="menu-item">
	<a href="/">Shows</a>
</li>
<li class="menu-item">
	<a href="/">About</a>
</li>
<li class="menu-item">
	<a href="/">Contact</a>
</li>