{% extends "_master.html" %}

{% block title %}B's Garden Treasures - About{% endblock %}

{% block content %}
	<div class="content">
		
		<div class="image_gallery content gallery_page">
			<ul>
				<li><a class="gal" href="{{ STATIC_URL }}images/Betty-image.jpg"><img src="{{ STATIC_URL }}images/Betty-image.jpg" alt="" title="Betty of B's Garden Treasures" /></a></li>
				<li><a class="gal" href="{{ STATIC_URL }}images/Show-Display.jpg"><img src="{{ STATIC_URL }}images/Show-Display.jpg" alt="" title="B's Garden Treasures" /></a></li>
			</ul>
		</div>
		<style type="text/css">
			p.paragraph{
				margin-bottom: 20px;
			}
		</style>
		<p class="paragraph">
			Welcome!  My name is Betty and I am the "B" behind "B's Garden Treasures."  I live with my husband, Ron,
			in Geneva, NY which is in the heart of the Finger Lakes.  I am a Quality Manager for an international
			company during the day and a pressed flower artist and crafter during my free time.
		</p>
		
		<p class="paragraph">
			I've been an avid gardener most of my life.  To me, there is nothing more beautiful than a flower in bloom.
			My art includes pressing flowers so their beauty can be preserved and enjoyed for years to come.
			
			My pressing process preserves the color vibrancy in most flowers without adding dyes, but I do use color
			enhancements when needed.  Most of the flowers used in my work come from my own beautiful gardens.
		</p>
		
		<p class="paragraph">
			I also enjoy the benefits of aromatherapy to reduce stress and promote healthfulness.  I create heating and
			cooling wraps and other products with herbs which I grow and/or purchase. Not only do I offer these products
			to you, but I use them myself on a daily basis.
		</p>
		
		<p class="paragraph">
			I joined the Worldwide Pressed Flower Guild in 2009. This great non-profit organization promotes public education
			to unite pressed flower artists from around the world.  I regularly participate in classes through the Guild to
			enhance my art.  As a result of this wonderful organization of kindred spirits, my art has grown and I am
			continually challenged to try new methods and techniques.
		</p>
		
		<p class="paragraph">    
			I love sharing my art with others and enjoy teaching classes on pressing techniques and on using pressed flowers
			to create art.  I am also available to speak at local garden clubs.
		</p>
		
		<p class="paragraph">
			I hope you enjoy your visit to my site.  And, if you have a chance, visit B's Garden Treasures at one of our shows.
			Please contact me by email if you have any questions or comments.  Visit often, as I am always expanding my products!
		</p>
	</div>
{% endblock %}