{% extends "_master.html" %}

{% block title %}B's Garden Treasures - Contact{% endblock %}

{% block content %}
	<style type="text/css">
		ul#emailList{
			list-style-type: disc;
			margin-left: 10px;
		}
		ul#emailList li{
			
		}
	</style>
	<div class="content">
		<div>To place an order or inquire about any of my products, please </div>
		<ul id="emailList">
			<li>Email me at <a href="mailto:info@BGTreasures.com">info@BGTreasures.com</a></li>
			<li>US shipping is free with a $40.00 minimum order </li>
			<li>All prices include applicable sales tax</li>
		</ul>
	</div>
{% endblock %}