{% extends "_master.html" %}

{% block title %}B's Garden Treasures - Home{% endblock %}

{% block content %}
	<div class="row">
		<div class="span10">
			<h1>Welcome</h1>
			<div class="content">
				Thank you for visiting B's Garden Treasures at <a href="javascript://">bgtreasures.com</a>
				formerly known as <a href="javascript://">herbalgardentreasures.com</a>. This site is primarily
				designed to showcase my products which are sold at local art and craft shows. If you are interested
				in purchasing any of my products, please contact me for additional ordering instructions.
			</div>
			<div class="content">
				I offer free shipping to the US on orders totaling $40 or more. Prices include sales tax, where applicable.
			</div>
			<h1>Pressed Flower Art</h1>
			<ul>
				<li>Original Pressed Flower Framed Art - Floral Displays & Landscapes</li>
				<li>Digital Copies of Pressed Flower Art</li>
				<li>Handmade Pressed Flower Bookmarks and Note Cards</li>
				<li>Custom Orders Upon Request:  Bridal Invitations, Memorials, Birth Announcements, Celebrations</li>
			</ul>
			<ul class="image_gallery content">
				{% for i in imgs %}
				<li>
					<a class="gal" href="{{ STATIC_URL }}{{ i.img }}">
						<img src="{{ STATIC_URL }}{{ i.imgt }}" 
							alt="{{ i.alt }}" 
							title="{{ i.desc }}"/>
					</a>
				</li>
				{% endfor %}
			</ul>
			<h1>Order Placement</h1>
			<p>
				To place an order or inquire about any of my products, please 
			</p>
			<ul>
				<li>Email me at <a href="mailto:info@BGTreasures.com">info@BGTreasures.com</a></li>
				<li>Follow me on Twitter <a href="http://twitter.com/BGTreasures">@BGTreasures</a></li>
			</ul>		
		</div>
		<div class="span2">
			<a href="/">
				<img src="{{ STATIC_URL }}images/WWPFG-Member-Logo.jpg" alt="World Wide Pressed Flower Guild" />
			</a>
			
			<a href="#" class="btn btn-success"><i class="icon-facebook"></i> Facebook</a>
		</div>
	</div>
			
{% endblock %}