{% extends "_master.html" %}

{% block title %}B's Garden Treasures - Other Products{% endblock %}
	

{% block content %}
	<h3 class="gallery_title">Herbal Heating & Cooling Wraps</h3>
	<div class="descrip">
		My special blend of natural flaxseed and herbs - encased in soft, yet durable 100% cotton flannel - can be heated in the microwave or
		cooled in the freezer for temporary relief of pain. Sewn baffles within the fabric distribute the grains throughout the length.
		This allows the wrap to fit comfortably to the contours of your body rather than dropping to the bottom like most competitor products.
		This high quality product contains only 100% flaxseed and natural herbs with no fillers, such as rice, which can develop a burned smell
		over time.  
		<br />
		<br />
		<ul><li>Prices include applicable sales tax. Free shipping to the US with a minimum $40.00 order.<li></ul>
	</div>
 
	<div class="image_gallery content gallery_page">
		<h3 class="gallery_title">Natural Flaxseed and Lavender Wraps</h3>
		<div class="descrip">
			Made with natural flaxseed and lavender flowers. Lavender is unsurpassed for calming frayed nerves, relieving insomnia and depression
			and aiding in healing. Enjoy all of these benefits while you relax tense, aching muscles.  Available in 30" lengths for $24.00 each / 24"
			lengths for $20.00. Available colors and fabrics may very from what is shown below.  
		</div>
		<div class="image_gallery content gallery_page">
			<ul>
				<li><a class="gal" href="{{ STATIC_URL }}images/WRP-30-Grn.jpg"><img src="{{ STATIC_URL }}images/WRPt-30-Grn.jpg" alt="" title="This soft green flannel fabric is available in the 30 inch length lavender wrap." /></a></li>
				<li><a class="gal" href="{{ STATIC_URL }}images/WRP-30-Mrn.jpg"><img src="{{ STATIC_URL }}images/WRPt-30-Mrn.jpg" alt="" title="This soft maroon paisley flannel fabric is available in the 30 inch length lavender wrap." /></a></li>
				<li><a class="gal" href="{{ STATIC_URL }}images/WRP-30-BlueSnow.jpg"><img src="{{ STATIC_URL }}images/WRPt-30-BlueSnow.jpg" alt="" title="This blue snowflake flannel fabric is available in the 30 inch length lavender wrap." /></a></li>
				<li><a class="gal" href="{{ STATIC_URL }}images/WRP-Brn-Floral.jpg"><img src="{{ STATIC_URL }}images/WRPt-Brn-Floral.jpg" alt="" title="This soft brown floral flannel fabric is available in both the 30 inch and 24 inch length lavender wrap. The additional 6 inches in the 30 inch wrap makes it much more versatile. You can fold it in two and use it for your back or drape it over your shoulders." /></a></li>
				<li><a class="gal" href="{{ STATIC_URL }}images/WRP-24-Red-Patch.jpg"><img src="{{ STATIC_URL }}images/WRPt-24-Red-Patch.jpg" alt="" title="This soft red patchwork flannel fabric is available in the 24 inch length lavender wrap." /></a></li>
				<li><a class="gal" href="{{ STATIC_URL }}images/WRP-24-Yellow-Floral.jpg"><img src="{{ STATIC_URL }}images/WRPt-24-Yellow-Floral.jpg" alt="" title="This soft yellow and blue floral flannel fabric is available in the 24 inch length lavender wrap." /></a></li>
			</ul>
		</div>
		<h3 class="gallery_title">Unscented Natural Flaxseed Wraps</h3>
		<div class="descrip">
			Same as above but without the lavender for those sensitive to smells. Available in 30" lengths for $24.00 each / 24" lengths for $20.00.
			Available colors and fabrics will be provided upon request.  
		</div>
		<h3 class="gallery_title">Catnip Sacks</h3>
		<div class="descrip">
			Cats are crazy for catnip, and are irresistibly drawn to catnip toys. These delightful sacks are filled with 100% catnip with no artificial
			fillers. They are always fresh and ready for some serious playtime. Even the fussiest feline is sure to give their "purr of approval".
			Priced at $3.50 each or three for $10.00. Available colors and fabrics may vary from what is shown below.  
		</div>
		<div class="image_gallery content gallery_page">
			<ul>
				<li>
					<a class="gal" href="{{ STATIC_URL }}images/CATNIP.jpg">
						<img src="{{ STATIC_URL }}images/CATNIPt.jpg" alt="" title="As this is a very popular product, fabrics and colors shown may no longer be available. We're always on the lookout for fun cat fabrics to ensure your cat's (and your) satisfaction." />
					</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}