{% extends "_master.html" %}

{% block title %}B's Garden Treasures - Pressed Flower Art{% endblock %}

{% block content %}
	<h3 class="gallery_title">8"x10" - Matte frame ready digital copies of original pressed flower art</h3>
	<div class="descrip">$12.00 each + shipping</div>
	<div class="image_gallery content gallery_page">
		<ul>
			<li><a class="gal" href="{{ STATIC_URL }}images/72.jpg"><img src="{{ STATIC_URL }}images/72t.jpg" alt="" title="'#72 - Fall Colors' features a vibrant sunflower with blanket flowers and daisies. This image will look expecially nice with dark green matting."/></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/69.jpg"><img src="{{ STATIC_URL }}images/69t.jpg" alt="" title="'#69 - Silk Roses' features red sweetheart roses with ferns. May I recommend dark green or sage matting!" /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/67.jpg"><img src="{{ STATIC_URL }}images/67t.jpg" alt="" title="'#67 - Autumn Windmill Landscape' features the underside of blackberry leaves for the sky, ornamental cabbage for the trees, fall darkened lilly leaves for the windmill along with an assortment of other leaves and flower petals.  This image looks great with almond matting." /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/66.jpg"><img src="{{ STATIC_URL }}images/66t.jpg" alt="" title="'#66 - Wheelbarrow Bouquet' features zinneas, daisies, pansies, hydrangea, lilacs coreopsis and other blossoms. Especially nice with dark green or sage matting." /></a></li>					
			<li><a class="gal" href="{{ STATIC_URL }}images/60.jpg"><img src="{{ STATIC_URL }}images/60t.jpg" alt="" title="'#60 - Summer in Bloom' features purple delphenium, pincussion flower, coreopsis, lilacs and red monarda blossoms with a lilly petal vase.  Beautiful with dark blue matting but dark green, sage or white are also great!" /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/39.jpg"><img src="{{ STATIC_URL }}images/39t.jpg" alt="" title="'#39 - Blossoms and Lace' features red monarda, speedwell, salvia, bleeding hearts, carnations, anomies, sage and green annes lace. Especially attractive wth sage or dark green matting." /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/55.jpg"><img src="{{ STATIC_URL }}images/55t.jpg" alt="" title="'#55 - Planter Bouquet' features roses, delphenium, columbine, lobelia, daisy and other blossoms with a wooden planter made from darkened lilly leaves. Great with sage green, dark green or dark blue matting." /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/38.jpg"><img src="{{ STATIC_URL }}images/38t.jpg" alt="" title="'#38 - A New Year Blossoms' features purple delphenium, bleeding hearts, carnations, mums and red rhodendron in a wooden planter made from darkened lilly leaves. May I suggest dark green or sage matting." /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/37.jpg"><img src="{{ STATIC_URL }}images/37t.jpg" alt="" title="'#37 - Golden Sunflower Collage' features a beautiful sunflower framed by fall leaves, astibule, ferns and dusty miller leaves. Japanese Sanwa paper was used between the layers of flowers to create depth. Try dark green matting!" /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/36.jpg"><img src="{{ STATIC_URL }}images/36t.jpg" alt="" title="'#36 - Victorian Roses' features roses, baby's breath, goya and other blossoms over fall and green leaves. Japanese Sanwa paper was used between the layers to create depth. Perfect with sage green matting." /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/34.jpg"><img src="{{ STATIC_URL }}images/34t.jpg" alt="" title="'#34 - Sunflower Collage' features a beautiful sunflower framed by fall leaves, ferns, astibule and sea oats. Japanese Sanwa paper was used between the layers of leaves. I would recommend dark green matting." /></a></li>
		</ul>
	</div>
	<h3 class="gallery_title">5"x7" - Matte frame ready digital copies of original pressed flower art</h3>
	<div class="descrip">$8.00 each + shipping</div>
	<div class="image_gallery content gallery_page">
		<ul>
			<li><a class="gal" href="{{ STATIC_URL }}images/70.jpg"><img src="{{ STATIC_URL }}images/70t.jpg" alt="" title="'#70 - A Simple Bouquet' features a purple helleobore surrounded by delphenium, astibule, baby's breath and a single yellow daisy. Stunning with dark blue matting!" /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/68.jpg"><img src="{{ STATIC_URL }}images/68t.jpg" alt="" title="'#68 - Special Carnation' features a single carnation with blue salvia and cora bells. Looks great with dark green or sage matting." /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/64.jpg"><img src="{{ STATIC_URL }}images/64t.jpg" alt="" title="'#64 - Visions of Sugarplums' features a purple helleobore with blue delphenium, larkspur, astibule and baby's breath. Try dark green, sage or even white matting!" /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/63.jpg"><img src="{{ STATIC_URL }}images/63t.jpg" alt="" title="'#63 - Pastel Bouquet' features light blue and pink larkspur, white filipendula, pansies, carnations, salvia, lesser celendine, golden alexander and greenery. Dark blue, sage or dark green matting all look great!" /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/57.jpg"><img src="{{ STATIC_URL }}images/57t.jpg" alt="" title="'#57 - Vibrant Daisy' features a stunning pink gerbera daisy with roses, astibule, carnations and green fern. Stunning with dark green or sage matting." /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/48.jpg"><img src="{{ STATIC_URL }}images/48t.jpg" alt="" title="'#48 - My First Crocus' features a beautiful purple crocus with coreopsis, violets, avens, verbena, butterfly bush and astibule. Dark green, sage or white matting look great!" /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/45.jpg"><img src="{{ STATIC_URL }}images/45t.jpg" alt="" title="'#45 - Astronemeria Bouquet' features a single astronemeria with larkspur, salvia, pansy and delicate pink blossoms. My recommendation would be sage, dark blue or white matting." /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/43.jpg"><img src="{{ STATIC_URL }}images/43t.jpg" alt="" title="'#43 - Got the Blues' features blue delphenium, red rhodendron, salvia, goya, baby's breath and green ivy. Stunning with dark blue matting. Sage or dark green also work." /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/42.jpg"><img src="{{ STATIC_URL }}images/42t.jpg" alt="" title="'#42 - Rose Trio' features two lavender roses, a red rose, white daisy, queen annes lace and greenery. My suggestion would be dark green or sage matting." /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/40.jpg"><img src="{{ STATIC_URL }}images/40t.jpg" alt="" title="'#40 - Delpheniums & Sunflower' features a sunflower, blue delphenium with queen annes lace and greenery. Dark blue, dark green & sage matting all look great!" /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/35.jpg"><img src="{{ STATIC_URL }}images/35t.jpg" alt="" title="'#35 - Delicate Shades of Red' is a collage featuring a red blanket flower with delicate sprigs of red and green over ivy and red burning bush leaves layered between Japenese sanwa paper. Dark green or even black matting look great!" /></a></li>
		</ul>
	</div>
	
	<h3 class="gallery_title">Ceramic Coasters made from Digital Copies of Original Pressed Flower Art</h3>
	<div class="descrip">Coasters are varnished with a waterproof resin, creating a beautiful finish. Each coaster is padded to protect your furniture. $18.00/pkg. of two coasters.</div>
	<div class="image_gallery content gallery_page">
		<ul>
			<li><a class="gal" href="{{ STATIC_URL }}images/70c.jpg"><img src="{{ STATIC_URL }}images/70Ct.jpg" alt="" title="Package of two coasters made from '#70 - A Simple Bouquet' featuring a purple helleobore surrounded by delphenium, astibule, baby's breath and a single yellow daisy." /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/69C.jpg"><img src="{{ STATIC_URL }}images/69Ct.jpg" alt="" title="Package of two coasters made from '#69 - Silk Roses' featuring red sweetheart roses with ferns." /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/67C.jpg"><img src="{{ STATIC_URL }}images/67Ct.jpg" alt="" title="Package of two coasters made from '#67 - Autumn Windmill' Landscape' featuring the underside of blackberry leaves for the sky, ornamental cabbage for the trees, fall darkened lilly leaves for the windmill along with an assortment of other leaves and flower petals." /></a></li>
		</ul>
	
	<h3 class="gallery_title">Original Pressed Flower Art and Custom Work</h3>
	<div class="descrip">For a listing of available original pressed flower art, please contact me. I also offer original framed pressed flower art for wedding invitiations, memorials and other special occasions.  </div>
	<div class="image_gallery content gallery_page">
		<ul>
			<li><a class="gal" href="{{ STATIC_URL }}images/58.jpg"><img src="{{ STATIC_URL }}images/58t.jpg" alt="" title="Custom Wedding Invitation featuring sweetheart rose, fresia, queen annes lace & hypercone berries" /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/54.jpg"><img src="{{ STATIC_URL }}images/54t.jpg" alt="" title="Memorial Arrangement featuring roses, pansies, bleeding heart, and carnations." /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/22.jpg"><img src="{{ STATIC_URL }}images/22t.jpg" alt="" title="Custom Birth Anouncement featuring ivy, verbena and mums." /></a></li>
		</ul>
	</div>

	<h3 class="gallery_title">Note Cards made from Digital Copies of Original Pressed Flower Art</h3>
	<div class="descrip">Select from the above images. Ivory, 5" x 6.5". $10.00/pkg. of four. </div>
	<div class="image_gallery content gallery_page">
		<ul>
			<li><a class="gal" href="{{ STATIC_URL }}images/63.jpg"><img src="{{ STATIC_URL }}images/63t.jpg" alt="" title="Pastel Bouquet" /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/57.jpg"><img src="{{ STATIC_URL }}images/57t.jpg" alt="" title="Vibrant Daisy" /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/48.jpg"><img src="{{ STATIC_URL }}images/48t.jpg" alt="" title="My First Crocus" /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/45.jpg"><img src="{{ STATIC_URL }}images/45t.jpg" alt="" title="A Spring Bouquet" /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/43.jpg"><img src="{{ STATIC_URL }}images/43t.jpg" alt="" title="Got the Blues" /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/42.jpg"><img src="{{ STATIC_URL }}images/42t.jpg" alt="" title="Rose Trio" /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/40.jpg"><img src="{{ STATIC_URL }}images/40t.jpg" alt="" title="Delpheniums & Sunflower" /></a></li>
			<li><a class="gal" href="{{ STATIC_URL }}images/35.jpg"><img src="{{ STATIC_URL }}images/35t.jpg" alt="" title="Delicate Shades of Red" /></a></li>
		</ul>
	</div>
{% endblock %}