{% extends "_master.html" %}

{% block title %}B's Garden Treasures - Shows{% endblock %}

{% block content %}
	<div id="shows" class="content">
		<h1>Shows</h1>
		<div class="descrip">
			<div>
				I offer many of my Products at the Smith Opera House Gift Shop in Geneva, NY.  I am also available to speak at local garden clubs
				and will teach classes on the art of pressed flowers. I plan to be at the following craft and art shows. 
			</div>
		</div>
		<table>
			<tbody>
				<tr>
					<th style="width: 10%;">Date</th>
					<th style="width: 55%;">Event</th>
					<th style="width: 35%;">Location</th>
				</tr>
				{% for s in data %}
				<tr>
					<td>{{ s.date_text }}</td>
					<td>{{ s.event }}</td>
					<td><div>{{ s.location }}</div> {% if s.link != None %} <a href="{{ s.link }}">{{ s.link_text }}</a> {% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}